# Ignore node_modules directory
node_modules/
public/


# Ignore build artifacts
build/
dist/
*.log

# Ignore sensitive information (replace with your own)
credentials.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore environment-specific files
.env
.env.local
